* {
	font-family: 'Oswald', sans-serif;
}

.navbar {
	background-color: #444;
	border: none;
	border-radius: 0;
}
.navbar p {
	margin: 5px 0 0 0;
	font-size: 28px;
	color: #69d8a1;
}

.content-body {
	margin-left: 10px;
}

.input-container {
	margin: 10px 0 0 0;
}
.input-container input {
	width: 240px;
	margin-bottom: 10px;
}

.result-container {
	margin-top: 30px;
	display: none;
}

